.error-logo {
    grid-column: 2;
}

#error-logo {
    position: absolute;
    left: 48%;
    top: 30%;
    transform: translate(-50%, -50%);
}


@media screen and (max-width: 725px){
    #error-message {
        font-size: 16px;
    }
    #specific-message {
        font-size: 24px;
    }
    #error-logo {
        width: 400px;
    }
    .error-message {
        margin-top: 300px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 726px) and (max-width: 901px){
    #specific-message {
        font-size: 36px;
    }
}