.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../bg.png");
    background-repeat: no-repeat;
    background-position: 100% -5rem;
}

.title {
    margin: 10rem 4rem 4rem;
}

.buttons {
    width: 25rem;
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
}

.text {
    font-size: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.primary {
    color: #000000;
    font-weight: bold;
    margin-right: 15px;
}

@media screen and (min-width: 725px){
    .buttons {
        margin-left: 4rem;
    }
}

.secondary {
    color: #5EB795;
    font-weight: 300;
}

@media screen and (max-width: 1160px){
    .container {
        background-image: unset;
        align-items: center;
    }

    .text {
        font-size: 48px;
    }
}

@media screen and (max-width: 725px){
    .text {
        font-size: 24px;
    }
    .container {
        background-image: unset;
        display: flex;
        text-align: center;
    }
    .buttons {

    }
}