.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../bg.png");
    background-repeat: no-repeat;
    background-position: 100% -5rem;
}

.title {
    margin: 10rem 4rem 4rem;
}

.buttons {
    width: 25rem;
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
    margin-left: 4rem;
}

.text {
    font-size: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.primary {
    color: #000000;
    font-weight: bold;
    margin-right: 15px;
}

.secondary {
    color: #5EB795;
    font-weight: 300;
}