.navbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #dedede;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar a {
    text-decoration: none;
    color: black;
    margin-right: 2rem;
    font-size: 18px;
}


.navbar img {
    width: 175px;
}

#nav-options {
    transition: padding-bottom, color 0.3s, border-bottom;
    transition-timing-function: ease-in;
}

#nav-options a:hover {
    padding-bottom: 5px;
    color: #6E71E0;
    border-bottom: 2px solid #6E71E0;
}

@media screen and (max-width: 725px) {
    #nav-options {
        display: none;
    }
}
