* {
    background-color: white;
    font-family: 'Outfit', sans-serif;
}

.text {
    font-size: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.primary {
    color: #000000;
    font-weight: bold;
}

.secondary {
    color: #5EB795;
    font-weight: 300;
}
