<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodeCoin</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="navbar.html :: navbar"></div>
<div class="header">
    <img class="detailed-img" th:src="${cryptocurrency.image}">
    <h1 th:text="${cryptocurrency.name}"></h1>
</div>
<div class="action">
    <a th:href="@{'/coins/' + ${cryptocurrency.id} + '/buy'}"><button id="buy" class="button">Buy</button></a>
    <a th:href="@{'/coins/' + ${cryptocurrency.id} + '/sell'}"><button id="sell" class="button">Sell</button></a>
</div>
<div class="content">
    <div class="details">
        <h3 id="details">Details</h3>
        <p class="tag">Name:</p>
        <p class="text" th:text="${cryptocurrency.name}"></p>
        <p class="tag">Symbol:</p>
        <p class="text" th:text="${cryptocurrency.symbol}"></p>
        <p class="tag">Last update:</p>
        <p class="text" th:text="${cryptocurrency.lastUpdated}"></p>
    </div>
    <div class="profile">
        <h3 id="profile">Profile</h3>
        <p class="tag">Price:</p>
        <p class="text" th:text="${cryptocurrency.currentPrice}"></p>
        <p class="tag">Low 24 hour:</p>
        <p class="text" th:text="${cryptocurrency.low24h}"></p>
        <p class="tag">High 24 hour:</p>
        <p class="text" th:text="${cryptocurrency.high24h}"></p>
        <p class="tag">Price percentage change in 24 hour</p>
        <p class="text" th:text="${cryptocurrency.priceChangePercentage24h}"></p>
    </div>

</div>
</body>
</html>