<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodeCoin</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<img src="https://i.postimg.cc/k5zT5dmN/logo-broken.png" width="800px" alt="logo">
<h1 th:text="${message} ?: 'Ooops something went wrong'" id="error-message"></h1>
<h1>You can report the issue or simply go back to the main page.</h1>
<a href="/coins"><button class="button">Report the issue!</button></a>
<a href="/coins"><button class="button">Go to homepage!</button></a>
</body>
</html>