<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodeCoin</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/title.css}">
    <script defer rel="script" type="application/javascript" th:src="@{/js/animation.js}"></script>
</head>
<body>
<div th:replace="navbar.html :: navbar"></div>
<div class="title">
    <p class="text primary">We are </p>
    <p class="text secondary" id="text"></p>
</div>
<div class="buttons">
    <a href="/coins"><button class="button">See currencies</button></a>
    <a href="/portfolio"><button class="button">Get started</button></a>
</div>
</body>
</html>