<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodeCoin</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" th:href="@{css/main.css}">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="navbar.html :: navbar"></div>
<div class="header">
    <p class="label">Total balance:</p>
    <h1 th:text="${totalBalance} + ' USD'"></h1>
</div>
<!--<div class="toggle">-->
<!--    <p class="on" id="my-coins">My coins</p>-->
<!--    <p class="off" id="my-trackings">My trackings</p>-->
<!--</div>-->
<div class="portfolio-content">
<div th:each="entry, value : ${cryptocurrencies}">
    <p th:text="${entry.key.name}"></p>
    <p th:text="${entry.key.symbol}"></p>
    <img th:src="${entry.key.image}">
    <p th:text="${entry.value}"></p>
</div>
</div>
</body>
</html>